#signin{
    position: absolute;
    top: 60vh;
    left: 55vw;
    padding: 3rem;
    border-radius: 5rem;
    font-weight: bold;
    text-align: center;
    line-height: 0;
}
.parallax-container{
    height: 101vh;
}
#petModal{
    position: relative;
    top: 5rem;
    text-align: center;
}
#aPet{
    line-height: 0;
    margin-bottom: 1vh;
    width: 30vw;
    padding: 20px;
}
#newPet{
    position: relative;
    top: 5rem;
    left: 45vw;
    text-align: center;
}
#header{
    position: fixed;
    left: 36vw;
    padding: 10px;
    font-size: 5rem;
    text-align: center;
    border-radius: 5rem;
    border-style: solid;
    width: 30vw;
    color: orange;
}
#submit{
    margin-bottom: 4vh;
}
#close{
    float: right;
}